apiVersion: v1
kind: Namespace
metadata:
   name: jenkins
   type: ci
---   
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins
  labels:
    app: jenkins
    type: ci
spec:
  storageClassName: manual
  capacity:
    storage: "{{ jenkins_storage_size_gb }}Gi"
  accessModes:
    - ReadWriteMany  
  nfs:
    server: {{ hostvars['master'].ansible_host }}
    path: "/srv/nfs/kubedata/jenkins-master"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins
  namespace: jenkins
  labels:
    app: jenkins
    type: ci
spec:
  storageClassName: manual
  volumeName: jenkins
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ jenkins_storage_size_gb }}Gi"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: jenkins
  labels:
    app: jenkins
    type: ci
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
        type: ci
    spec:
      securityContext:
        runAsUser: 0
        fsGroup: 1000    
      containers:
        - name: jenkins
          image: "jenkins/jenkins:{{ jenkins_version }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8080
            - containerPort: 50000
          volumeMounts:
            - mountPath: /var/jenkins_home
              name: jenkins-home
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 512Mi                         
      volumes:
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: jenkins
---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: jenkins
  labels:
    app: jenkins
    type: ci
spec:
  type: NodePort
  ports:
   - port: 8080
     nodePort: 30001
  selector:
   app: jenkins
