apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins
  namespace: jenkins
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jenkins
  namespace: jenkins
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: jenkins
  namespace: jenkins
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: jenkins
subjects:
- kind: ServiceAccount
  name: jenkins
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-master
  labels:
    app: jenkins-master
    type: ci
    env: global
spec:
  storageClassName: manual
  capacity:
    storage: "{{ jenkins_storage_size_gb }}Gi"
  accessModes:
    - ReadWriteOnce
  nfs:
    server: {{ hostvars['master'].ansible_host }}
    path: "/srv/nfs/kubedata/jenkins-master"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-master
  namespace: jenkins
  labels:
    app: jenkins-master
    type: ci
    env: global
spec:
  storageClassName: manual
  volumeName: jenkins-master
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ jenkins_storage_size_gb }}Gi"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-master
  namespace: jenkins
  labels:
    app: jenkins-master
    type: ci
    env: global
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-master
  template:
    metadata:
      labels:
        app: jenkins-master
        type: ci
        env: global
    spec:
      securityContext:
        runAsUser: 0
        fsGroup: 1000    
      containers:
        - name: jenkins-master
          image: "jenkins/jenkins:{{ jenkins_version }}"
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8080
            - containerPort: 50000
          volumeMounts:
            - mountPath: /var/jenkins_home
              name: jenkins-home
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: "1"
              memory: 1024Mi
          env:
            - name: JAVA_OPTS
              value: "-Xms1024m -Xmx2g"                          
      volumes:
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: jenkins-master
---
apiVersion: v1
kind: Service
metadata:
  name: jenkins-master
  namespace: jenkins
  labels:
    app: jenkins-master
    type: ci
    env: global
spec:
  type: NodePort
  ports:
   - port: 8080
     nodePort: 30001
  selector:
   app: jenkins-master
